<% if @postings.any?%>
  <table class="highlight responsive-table bordered">
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Posted</th>
        <th>Type</th>
        <th>Bedrooms</th>
        <th>Wheelchair</th>
        <th>Address</th>
        <th>Body</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <% @postings.each do |post|%>
      <tbody>
        <tr>
          <td><%= link_to "#{post.posting_post_id}", post.posting_link, target: :_blank %></td>
          <td><%= post.posting_date_posted %></td>
          <td><%= post.posting_housing_type %></td>
          <td><%= post.posting_bedroom %></td>
          <td><%= post.posting_wheelchair %></td>
          <td><%= post.posting_address %></td>
          <td><%= post.posting_body %></td>
          <td>$<%= post.posting_price %></td>
          <td>Delete</td>
        </tr>
      </tbody>
  <% end %>
  </table>
<% else %>
  <p>There are no postings to display!</p>
<% end %>
